.deckView{
    overflow: auto;
}
.deckViewOptions{
    background:white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
    min-height: 34px;
    padding: 4px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 1px 2px 5px black;
}
.tableAction{
    cursor:pointer;
}
.deckViewTable{
    width: 80%;
    margin: 0 auto 100px;
    border-collapse: collapse;
    background: white;
    box-shadow: 1px 2px 5px black;
    text-align: left;
}
.deckViewTable thead{
    border-bottom: 1px solid black;
}

.deckViewTable th{
    padding: 10px;
}
.deckViewTable td{
    padding: 3px 10px;
    white-space: pre-wrap;
}
.deckViewTable .colCardFront, 
.deckViewTable .colCardBack{
    width: 35%;
}

.deckViewTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.deckViewTable tr:hover{
    background:#d1fff8;
}   
.deckViewTable .colCardDeck{
    text-overflow: ellipsis;
}


@media (max-width: 501px) {
    .deckViewOptions{
        width:95%;
    }
    .deckViewOptions button{
        width:50%;
    }
    .deckViewTable{
        font-size: 13px;
        margin: 0 auto;
        width:98%;
        max-width: 98%;
    }
    .deckViewTable th{
        padding: 2px;
    }
    .deckViewTable .colCardFront, 
    .deckViewTable .colCardBack{
        width: 30%;
    }
    .deckViewTable td{
        padding:3px;
    }
    .colCardDate{
        display: none;
    }
    .colCardDeck, .colCardFront, .colCardBack{
        overflow-wrap: anywhere;
    }
}
@media (max-width: 658px){
    .deckViewOptions .largeSearchbar{
        order:1;
    }
    .deckViewOptions button,
    .deckViewOptions select{
        flex-grow: 1;
    }
}